{% extends 'layout.twig' %}

{% block content %}
<div class="pure-g">
    <div class="pure-u-1 adsense">
		<small>Advertisement</small>
          <div class="ad">
           <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Header-Bottom-Banner -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-5908879638690497"
                 data-ad-slot="2658449769"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 adsense">
		<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:250px;width:725px;'><div id='gmap_canvas' style='height:250px;width:725px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.buyinstagramfollowersreviews.net/">buy instagram followers</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(40.7127837,-74.00594130000002),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.7127837,-74.00594130000002)});infowindow = new google.maps.InfoWindow({content:'<strong>Alpha Inc.</strong><br>New York, United States<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
</div>

<div class="pure-g">
	<div class="pure-u-3-5">
		<form action="" method="post" class="pure-form pure-form-stacked">
			<div class="">
				<label for="name">Full name *</label>
				<input type="text" name="name" id="name" placeholder="Full name (required)">
			</div>
			<div class="">
				<label for="name">Email *</label>
				<input type="text" name="email" id="email" placeholder="Full name (required)">
			</div>
			<div class="">
				<label for="name">Message *</label>
				<textarea name="message" id="message" cols="60" rows="8" placeholder="message..."></textarea>
			</div>
			<button type="submit" class="pure-button pure-button-primary">Send message</button>
		</form>
	</div>
	<div class="pure-u-2-5">
		<p><strong>Get in touch with us!</strong></p>
		<p>
			Our team awaits to start business with you
		</p>
		<p>
			The company was established in 1965 by Don Alphonso Vinci
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nostrum vitae repellat voluptate corporis, quod sed illo expedita, distinctio reprehenderit voluptates ut nam, reiciendis fugiat temporibus vero cumque quia dolores.
		</p>
	</div>
</div>


<hr>

<aside class="pure-g">
	<address class="pure-u-1">
		<p><b>Address:</b></p>
		<p>1245 Mandela Ave, NY <br>
			+1 555 555 555 <br> 
			www.alphainc.com
		</p>
	</address>
</aside>

{% endblock %}